{% extends 'blog/base.html' %}

{% block content %}

<div class="centerstage">
    <h1>Blog</h1>
    {% for blog in blogcontext_list %}
        <div class="post">
            <h1><a href="{% url 'blog_content' pk=blog.pk %}">{{ blog.title }}</a></h1>
            <div class="date">
                <p>Published on: {{ blog.publish_time|date:"D M Y"}}</p>
            </div>
            <a href="{% url 'blog_content' pk=blog.pk %}">Comments: {{ blog.count_comments.count }}</a>
        </div>
    {% endfor %}
</div>

{% endblock %}